.customise-modal-confirm {
  .ant-modal-content {
    box-shadow: 0px 15px 50px 0px rgba(31, 35, 41, 0.2);
    width: 420px;
    padding: 16px 20px 20px;
    border-radius: 4px;
  }
  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-confirm-body {
    .ant-modal-confirm-title {
      font-size: 14px;
      height: 22px;
      line-height: 22px;
      letter-spacing: 0;
      font-weight: bold;
      color: #1f2329;
    }
    .ant-modal-confirm-content {
      display: flex;
      width: 380px;
      margin-top: 16px;
      margin-block-start: 16px !important;
      max-width: 100% !important;
      font-size: 14px;
      font-weight: normal;
      line-height: 22px;
      letter-spacing: 0;
      img {
        width: 20px;
        height: 20px;
        margin-right: 4px;
        margin-top: 1px;
      }
      span {
        width: 356px;
        color: #1F2329;
      }
    }
  }
  .ant-modal-customise-footer {
    text-align: right;
    margin-top: 24px;
  }
  .ant-modal-footer {
    display: none;
  }
}

.customise-modal {
  .ant-modal-content {
    box-shadow: 0px 15px 50px 0px rgba(31, 35, 41, 0.2);
    .ant-modal-close-x {
      width: 22px;
      height: 22px;
      &:before {
        content: none;
      }
    }
    .anticon-close:before {
      content: none;
    }
    .ant-modal-close:hover {
      background-color: unset;
    }

    padding: 16px 0 20px 20px;
    border-radius: 4px;
    .ant-modal-header {
      position: sticky;
      top: 0;
      z-index: 15;
      margin: 0;
      padding: 0 0 8px;
      border-bottom: 0;
      border-radius: 0;
      .ant-modal-title {
        font-size: 14px;
        height: 22px;
        line-height: 22px;
        letter-spacing: 0;
        font-weight: 600;
        color: #1f2329;
      }
    }
    .ant-modal-body {
      & > div {
        position: unset !important;
      }
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 22px;
      letter-spacing: 0;
      color: #1f2329;
      height: auto;
      & > .ant-spin-nested-loading {
        height: 100%;
      }
      .cus-modal-body-buttons {
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
    .ant-modal-footer {
      padding: 8px 20px 0 0;
      margin: 0;
      border-top: 0;
      .ant-btn+.ant-btn:not(.ant-dropdown-trigger){
        margin-inline-start: 12px;
      }
    }
  }

  .track-horizontal {
    position: absolute;
    transition: opacity 200ms ease 0s;
    bottom: 0.5px;
    left: 0;
    width: 100%;
    height: auto !important;
    border-radius: 4px;
    z-index: 11;
    .thumb-horizontal {
      position: relative;
      display: block;
      height: 8px !important;
      border-radius: inherit;
      background-color: #dee0e3;
      &:hover {
        height: 12px !important;
        border-radius: 12px !important;
        background-color: #bbbfc4;
      }
    }
  }

  .track-vertical {
    position: absolute;
    transition: opacity 200ms ease 0s;
    top: 0;
    right: 0;
    height: 100%;
    width: auto !important;
    border-radius: 4px;
    z-index: 11;
    .thumb-vertical {
      position: relative;
      display: block;
      width: 8px !important;
      border-radius: inherit;
      background-color: #dee0e3;
      &:hover {
        width: 12px !important;
        border-radius: 12px !important;
        background-color: #bbbfc4;
      }
    }
  }
}
