.portal-page-content {
  margin: 0;
  padding: 0 25px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  .portal-page-content-top {
    display: flex;
    margin: 20px 0;
    .portal-page-content-title {
      color: #8ec31e;
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;
    }
    .portal-page-content-operator {
      height: 100%;
      margin-left: auto;
      .ant-btn {
        margin-left: 10px;
      }
    }
  }

  .portal-page-content-wrapper {
    margin: 25px 0;
  }
}
