.editTableClass {
  :global {
    .customize-table .ant-table .ant-table-tbody {
      .borderRightBolder {
        border-left: 1px solid #dee0e3;
        border-bottom: 1px solid #ececec;
      }
    }
  }
}

th.ant-table-cell.merge-border-class.ant-table-cell-fix-left.ant-table-cell-ellipsis.react-resizable {
  border-bottom: none !important;
}

th.ant-table-cell.border-class.cus-table-tr-th-border.ant-table-cell-ellipsis.react-resizable {
  border-bottom: none !important;
}

.merge-border-class {
  background: #fff !important;
  border-bottom: 1px solid #ececec !important;
}

.border-class {
  border-bottom: 1px solid #ececec !important;
}