.product-type-list{
  :global{
    .ant-col-8>span{
      width: 100%;
      .ant-checkbox-wrapper{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
      }
    }
  }
}