.newTab {
    :global{
        .ant-tabs-tab{
            background: none !important;
            min-width: auto !important;
            padding: 0 !important;
            border: none !important;
            display: inline-flex !important;
            // padding-bottom: 7px !important;
            margin: 0 16px !important;
            height: 22px;
            line-height: 22px;
            p {
                margin-bottom: 0 !important;
            }
            .ant-tabs-tab-btn {
                color: #1F2329 !important;
            }
        }
        .ant-tabs-tab-active {
            .ant-tabs-tab-btn {
                color: #3271FE !important;
            }
        }
        .addDiv {
            position: absolute;
            right: 0;
            top: 0;
        }
        .ant-tabs-nav-add { 
            border: none !important;
            line-height: 22px !important;
        }
        .ant-tabs-nav {
            height: 29px;
        }
        // .ant-tabs-nav-wrap-ping-left {
        //         opacity: 0 !important;
        //     }
        // .ant-tabs-nav-wrap-ping-right {
        //         opacity: 0 !important;
        //     }
        .ant-tabs-ink-bar{
            visibility: visible !important;
            height: 3px !important;
            display: block !important;
        }
        .anticon-close:before {
            display: none;
        }
        .ant-tabs-tab-remove {
            margin: 0 !important;
            padding: 5px 8px;
            .anticon {
              vertical-align: middle !important;  
            }
            img {
              vertical-align: top !important;
            }
        }
        .ant-tabs-nav-operations {
            background-color: #fff !important;
            height: 22px !important;
            line-height: 22px !important;
            display: flex;
            border-bottom: none !important;
            padding: 0 16px;
            // float: left;
            flex-direction: row-reverse;
            border-left: 1px solid #D8D8D8 !important;
            .ant-tabs-nav-more {
                padding-left: 8px !important;
                .ant-btn {
                    padding: 0 !important;
                }
                span {
                    height: 22px !important;
                    line-height: 22px;
                    width: auto !important;
                    background-color: transparent !important;
                }
            }
            .ant-tabs-nav-add {
                
                border: none !important;
                margin-left: 0 !important;
                padding: 0 8px 0 0 !important;
                .ant-btn {
                    padding: 0 !important;
                }
                span {
                    height: 22px !important;
                    line-height: 22px;
                }
            }
            span {
                color: #3271FE;
                margin: 0 0 7px 0;
            }
        }
        .ant-tabs-nav-more {
            padding: 0 !important;
        }
        .ant-avatar  img {
            width: 75% !important;
            height: 75% !important;
        }
        .ant-avatar-sm {
            display: flex;
            justify-content: space-evenly;
        }
    }
}
.ant-tabs-dropdown-menu .anticon-close:before {
            display: none !important;
}
.new-Tab {
    :global{
        .ant-tabs-tab{
            background: none !important;
            border: none !important;
            display: inline-flex !important;
            padding: 0 0 7px 0 !important;
            margin-right: 16px !important;
            height: 22px;
            line-height: 22px;
            p {
                margin-bottom: 0 !important;
            }
        }
        .ant-tabs-ink-bar{
            visibility: visible !important;
            height: 3px !important;
        }
        .anticon-close:before {
            display: none;
        }
        .ant-tabs-tab-remove {
            margin: 0 !important;
            .anticon {
              vertical-align: middle !important;  
            }
            
        }
        .ant-tabs-nav-more {
            padding: 0 !important;
        }
        .ant-avatar  img {
            width: 75% !important;
            height: 75% !important;
        }
        .ant-tabs-tab-active {
          margin-bottom: 0 !important;
        }
        .ant-avatar-sm {
            display: flex;
            justify-content: space-evenly;
        }
    }
  }
  .customize-new-tabs {
    border: none !important;
  }