.price-entry-query {
  :global {
    .ant-form-item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .ant-form-item-label {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        text-align: right !important;
        text-overflow: ellipsis;
        label {
          display: inline-block;
          width: calc(100% - 10px);
          overflow: hidden;
          text-overflow: ellipsis;
          &.ant-form-item-required {
            span {
              max-width: calc(100% - 10px);
            }
          }
          span {
            display: inline-block;
            max-width: 100%;
            div {
              display: flex;
              div {
                display: block;
                width: calc(100% - 20px);
                overflow: hidden;
                text-overflow: ellipsis;
              }
              img {
                width: 18px;
                height: 18px;
                margin-left: 2px;
              }
            }
          }
        }
      }
    }
  }
}

.form-label-overflow {
  :global {
    .ant-form-item-label {
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap !important;
      word-wrap: break-word;
    }
    // label {
    //   display: inline !important;
    // }
    .ant-form-item {
      display: flex;
      // align-items: center;
    }
    .ant-input-number {
      width: 100% !important;
    }
  }
}

.outer-link {
  position: absolute;
  top: 0;
  left: 9px;
  display: block;
  height: 19px;
  overflow: hidden;
  line-height: 19px;
  white-space: nowrap;
}
