.bread-container{
  .ant-breadcrumb{
    height: 50px;
    line-height: 50px;
    .ant-breadcrumb-link{
      color: #fff;
      font-size: 14px;
      a {
        color: #fff;
        font-size: 14px;
      }
    }
    & > span:last-child .ant-breadcrumb-link{
      color: #fff;
    }
    .ant-breadcrumb-separator{
      color: #8dc63f;
      font-size: 14px;
    }
  }
  
}