:global {
  .c7n-pro-popup-container {
    .c7n-pro-select-popup {
      min-width: 3.18rem !important;
      width: auto !important;
    }
  }
  .ant-select-dropdown {
    width: auto !important;
  }
}
