.list-info-message {
  display: flex;
  .info-message-all {
    &:nth-of-type(1) {
      margin-left: 0;
    }
    margin-left: 24px;
    font-size: 14px;
    line-height: 22px;
    .info-message-label {
      padding-right: 4px;
      color: #1F2329;
    }
    .info-message-value {
      color: #1F2329;
    }
  }
}
