.des-item {
  :global {
    .ant-form-item-control-input-content {
      line-height: normal !important;

      p:first-child {
        margin-bottom: 10px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}