.expand-icon {
  padding-right: 8px;
  cursor: pointer;
}

.virtual-table {
  font-size: 14px;
  :global {
    .c7n-performance-table-row-header {
      font-weight: bolder;
    }
    .c7n-performance-table-scrollbar-handle {
      display: none;
    }
  }
}
