.buttonOperations {
  text-align: right;
  margin-top: 20px;
  button {
    margin-left: 12px;
  }
}
.write-off-query {
  :global {
    .ant-form-item-label {
      text-align: right !important;
    }
    .ant-form-item {
      .ant-form-item-label {
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
        word-wrap: break-word;
        // label {
        //   display: inline;
        // }
      }
    }
  }
}
