._cus_select_tooltip {
  position: relative;
  width: 100%;
  line-height: 1;
  ._cus_tooltip_img{
    position: absolute;
    right: 32px;
    bottom: 8px;
    width: 16px;
    height: 16px;
  }
}
._cus_select_clear{
  .ant-select {
    .ant-select-clear{
      inset-inline-end: 56px;
    }
    .ant-select-selector{
      padding-right: 56px !important;
    }
  }
}

._cus_clearIcon_img {
  width: 16px;
  height: 16px;
}
