.content {
  :global {
    .ant-form-item-label {
      text-align: right !important;
    }
    .input-money {
      input {
        text-align: right;
      }
    }
    .ant-table-thead {
      th {
        text-align: left !important;
      }
    }
  }
}
.spo-basic-style {
  padding: 0 16px;
}
.card-tab {
  padding: 0 16px;
}
.checkbox-disabled {
  :global {
    .ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner {
      border: 1px solid #d8d8d8 !important;
    }
  }
}
// .new-search-tab {
//   :global {
//     .ant-tabs-tab {
//       background: none !important;
//       border: none !important;
//     }
//     .ant-tabs-nav-list {
//       background: none !important;
//     }
//     .ant-tabs-tab-active {
//       margin-bottom: 0 !important;
//     }
//     .ant-tabs-ink-bar {
//       visibility: visible !important;
//       height: 3px !important;
//       display: block !important;
//     }
//     .ant-tabs-nav-wrap {
//       display: flex !important;
//     }
//     .anticon-close:before {
//       display: none;
//     }
//   }
// }

.new-search-tab {
  .ant-tabs-nav {
    height: 29px;
  }
  // .ant-tabs-tab {
  //   padding-bottom: 7px !important;
  // }
  .ant-tabs-nav-list {
    display: contents !important;
  }
}

.tab-head {
  padding-bottom: 16px;
  display: flex;
  flex-direction: row-reverse;
}
.new-bottom-list {
  margin-bottom: 16px;
    #cus-approval-btns {
      bottom: -55px !important;
    }
}
.projectsetting-tab{
  .ant-collapse-content{
    .ant-collapse-content-box{
      padding: 0 0;
    }
  }
  .customize-panel-header {
    padding: 0 !important;
  }
  .ant-collapse-item-active {
    .customize-panel-header {
      padding: 0 0 16px 0!important;
    }
  }
}

.contractInfoTabs {
  :global {
    .newTab .ant-tabs-tab {
      margin: 0 16px 0 0 !important;
    }
  }
}

// 标包信息的padding-bottom
.noMarginBottom {
  :global {
    .ant-collapse-content-box {
      padding-bottom: 0 !important;
    }
  }
}