.otherRiskWarning {
  height: 70px;
  padding: 4px 8px;
  overflow-y: scroll;
  color: #f54a45;
  border: 1px solid #d0d3d6;
  border-radius: 4px;
  p {
    height: 20px;
    margin-bottom: 0;
    line-height: 20px;
  }
}

.requestTitle-prefix {
  :global {
    .ant-input-prefix {
      color: #1f2329;
      font-size: 14px;
      margin-top: 1px;
    }
    .ant-input {
      padding-left: 48px !important;
    }
  }
}
