.batchImport {
  .importTitle {
    color: #1F2329;
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 22px;
  }
  .importContent {
    width: 100%;
    p {
      color: #1F2329;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 0;
    }
  }

  .cus-operations > span{
    height: 32px;
  }
}
