.hiam-role-permissions-management {
  position: relative;
}
.hiam-role-permissions-management-transfer {
  :global {
    .operation {
      display: inline-block;
      margin: 0 8px;
      overflow: hidden;
      vertical-align: middle;
      button {
        display: block;
        margin: 8px 0;
      }
    }
  }
}

.operations {
  text-align: right;
  button {
    margin-left: 12px;
  }
}
