.container {
  text-align: center;
  color: #bdbdbd;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  .description {
    font-size: 20px;
    margin-top: 1em;
  }

  .icon {
    font-size: 100px;
  }
}
