.fieldset-form {
  :global {
    .ant-row {
      display: flex;
      .ant-col-18 {
        display: flex;
        align-items: center;
        .ant-form-item {
          margin-bottom: 0;
          input {
            overflow: hidden;
          }
        }
      }
      .ant-col-6 {
        display: flex;
        align-items: center;
      }
    }
    input#file-upload-button {
      height: 20px !important;
    }
  }
}
