.approval-list-row {
  :global {
    td {
      white-space: normal !important;
    }
  }
}

.c7n-pro-modal-container-moveable {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  :global {
    .c7n-pro-modal-body {
      height: calc(100% - 55px);
      max-height: none !important;
      overflow: hidden !important;
    }
  }
}

.requestTitle-prefix {
  :global {
    .ant-input-prefix {
      margin-top: 1px;
      color: #1f2329 !important;
      font-size: 14px;
    }
    .ant-input {
      padding-left: 48px !important;
    }
  }
}
