.formInfo {
  .c7n-pro-field-label,
  .c7n-pro-field-wrapper {
    padding: 6px;
  }
  tr > td:nth-child(odd) {
    width: 170px;
  }
  tr > td:nth-child(even) {
    width: 120px;
  }
}
// 表单一行单列
.formPopUp {
  .c7n-pro-field {
    width: 70%;
  }
  .c7n-pro-field-label,
  .c7n-pro-field-wrapper {
    padding: 6px;
  }
}
// 表单一行多列
.formMutil {
  .c7n-pro-field {
    width: 70%;
  }
  .c7n-pro-field-label,
  .c7n-pro-field-wrapper {
    padding: 6px;
  }
}

// 新增按钮样式hover
.addButton:hover {
  background-color: #198099 !important;
}

// 新增按钮样式hover
.submitButton:hover {
  background-color: #bf8500 !important;
}

// 新增按钮样式hover
.blueButton {
  background-color: #1d92af !important;
  margin-right: 10px !important;
  color: #fff !important;
  border-color: #198099 !important;
}
.blueButton:hover {
  background-color: #198099 !important;
}

// 重置按钮样式hover
.resetButton:hover {
  background-color: #ccc !important;
  color: #333 !important;
}

// 重置按钮样式hover
.grayButton {
  background-color: #fff !important;
  margin-right: 10px !important;
  border-color: #ccc !important;
}
.grayButton:hover {
  background-color: #ccc !important;
  color: #333 !important;
}

// 删除按钮样式hover
.deleteButton:hover {
  background-color: #d43f3a !important;
}

// 删除按钮样式hover
.redButton {
  background-color: #d9534f !important;
  margin-right: 10px !important;
  color: #fff !important;
  border-color: #d43f3a !important;
}
.redButton:hover {
  background-color: #d43f3a !important;
  color: #fff !important;
}

// 保存按钮样式hover
.saveButton:hover {
  background-color: #398439 !important;
}
