// 主要颜色
@primary-color: #3271FE;
@error-color: #F54A45;
@danger-color: #FFB938;

// 次要颜色
@primary-color-2: #EAF0FE;

// 阴影样式
@box-shadow: 0px 4px 10px 0px rgba(219, 219, 219, 0.5);

// 文字颜色
@font-primary-color: #1F2329; // 一级标题、二级标题、正文使用、输入框内容#1F2329
@font-primary-color-2: #646A73; // 二级正文、输入框标题使用#646A73
@font-prompt-color: #8F959E; // 提示文字（包括输入框内引导语）、辅助信息使用#8F959E
@font-disable-color-weak: #BBBFC4; //在灰/白色背景下的文字链禁用(Disable)状态使用#BBBFC4

// 背景颜色
@disable-bg-color: #EFF0F1; // 输入框不可输入状态、各类禁用(Disable)状态、列表头部颜色等使用#EFF0F1

// 描边颜色
@border-color: #D0D3D6; // 可交互控件（如输入框，选择器等）描边颜色使用#D0D3D6
