.upload {
  :global {
    .c7n-pro-upload-select {
      margin-right: 0;
      background-color: #0085d0;
      button {
        color: #fff;
        border-color: #0085d0 !important;
        i {
          display: none;
        }
        span {
          display: inline-block;
          text-align: justify;
          text-align-last: justify;
          min-width: 2.5em;
        }
      }
    }
  }
}
