// ._cus_tooltip_wrap {
//   display: inline-block;
// }

._cus_tooltip {
  display: flex;
  align-items: center;
  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ._cus_tooltip_img{
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }
}
