.cus-page-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 22px;
  margin-bottom: 16px;
  img {
    width: 16px;
    cursor: pointer;
    margin-right: 2px;
  }
  .cus-page-head-title{
    font-size: 14px;
    color: #1F2329;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
  }
  .cus-page-head-operator{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 12px 0px;
    margin-left: auto;
  }
}
