.form-explain-right {
  :global {
    .ant-form-explain {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.radio-style{
  :global {
    .c7n-radio-wrapper{
      line-height: 25px !important;
      height: auto !important;
      margin-bottom: 5px;
      span {
        white-space: normal;
        word-break: break-word;
      }
    }
  }
}
