.content {
  :global {
    .ant-form-item-label {
      text-align: right !important;
    }
    .input-money {
      input {
        text-align: right;
      }
    }
    .ant-table-thead {
      th {
        text-align: left !important;
      }
    }
  }
}