.config-table-from {
  .customize-table-from .ant-form-item .ant-select .ant-select-selector {
    // 覆盖重写下拉选择组件样式，树形选择或多选择时，高度自适应；
    height: auto;
    border: 0;
    border-bottom: 1px solid #d0d3d6;
    border-radius: 0 !important;
    padding: 0 40px 0 0 !important;
    background-color: unset !important;
    box-shadow: none !important;
  }

  .customize-table-from .ant-form-item .ant-picker {
    // 【选择组件】高度自适应下，最小高度31px，一并覆盖重写【时间组件】高度；
    height: 31px;
    border: 0;
    border-bottom: 1px solid #d0d3d6;
    border-radius: 0;
    padding: 0 0 0px 0 !important;
    background-color: unset !important;
  }

  .customize-table-from .ant-form-item .ant-input {
    // 【选择组件】高度自适应下，最小高度31px，一并覆盖重写【文本组件】高度；
    height: 31px;
    border: 0;
    border-bottom: 1px solid #d0d3d6 !important;
    border-radius: 0 !important;
    padding: 0 0 3px 0;
    background-color: unset !important;
  }
}