.cus-query-buttons-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 16px;
  .button-arrow-wrap {
    position: relative;
    display: inline-block;
    border: 1px solid #d0d3d6;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    padding: 8px;
    margin-left: 12px;
    cursor: pointer;
    img {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 16px;
    }
  }
}
