.nativeLable {
  display: flex;
  .nativeText {
    min-width: 1000px;
    min-height: 500px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

// 状态标记样式
.spanStatus {
  border: none!important;
  border-radius: 2px!important;
  font-size: 10px!important;
  font-weight: normal!important;
  text-align: center;
  line-height: 12px;
  padding: 4px 7px;
  display: table-cell;
  height: 20px;
}
.ant-tag-green{
  color: #34C724 !important;
  background: rgba(52, 199, 36, 0.1) !important;
}
.ant-tag-blue{
  color: #3271FE !important;
  background-color:rgba(50, 113, 254, 0.1) !important;
}
.ant-tag-orange{
  color: #FFB938 !important;
  background-color:rgba(255, 185, 56, 0.1) !important;
}
.ant-tag-gray{
  color: gray !important;
  background-color:rgba(128, 128, 128, 0.1) !important;
}