.cus-upload-header {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  & > span {
    color: #1f2329;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
  }
  .cus-upload {
    margin-left: auto;
    .ant-upload-list {
      display: none;
    }
  }
}

.cus-upload-tag {
  .ant-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 0;
    margin-left: 8px;
    color: #f54a45;
    font-size: 8px !important;
    background-color: rgba(245, 74, 69, 0.1);
    border: none;
    border-radius: 50%;
    cursor: default;
  }
}
