.chartsPosition {
  display: flex;
  align-items: center;

  // justify-content: space-between;
  .affix-menu-divider {
    border-right: 1px solid #e8e8e8;
    padding-right: 6vw;
    margin-right: 6vw;
    width: 50%;

    .active {
      display: block;
    }

    .active1 {
      display: none;
    }

    .font-line-height {
      text-align: center;
      line-height: 400px;
    }
  }
  .affix-divider {
    width: 50%;
  }
}

.affix-menu-fixed{
  display: flex;
  align-items: center;
  justify-content: space-between;
}