.table-thead-required > span:first-child::before {
  display: inline-block;
  color: #f5222d;
  font-family: SimSun;
  line-height: 1;
  margin-right: 4px;
  font-size: 12px;
  content: '*';
}
:global {
  .formItemLabel {
      .ant-form-item{ 
        .ant-form-item-label{
            line-height: 32px !important;
            height: 32px;
          }
      }
    }
 }