.cus-upload-header {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  & > span {
    color: #1f2329;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
  }
  .cus-upload {
    margin-left: auto;
    .ant-upload-list {
      display: none;
    }
  }
}