.cus-upload-header {
    display: flex;
    margin-bottom: 16px;
    & > span {
      color: #1f2329;
      font-weight: 600;
      font-size: 14px;
      line-height: 32px;
    }
    .cus-upload {
      margin-left: auto;
    }
  }
  
  .cus-upload-file-tag{
    display: flex;
    align-items: center;
    .ant-tag {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      margin-right: 0;
      margin-left: 8px;
      color: #f54a45;
      font-size: 8px !important;
      background-color: rgba(245, 74, 69, 0.1);
      border: none;
      border-radius: 50%;
      font-weight: normal !important;
      cursor: default;
    }
    .ant-tag_wait  {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 18px;
        line-height: 12px;
        border-radius: 2px !important;
        opacity: 1;
        background-color: rgba(245, 74, 69, 0.1) !important;
        border: none;
        padding: 0 4px !important;
        font-weight: normal !important;
        margin-left: 8px;
        color: #f54a45;
        font-size: 8px !important;
        cursor: default;
      }
  }

  .tip-head {
    margin-top: -8px;
    padding-bottom: 16px;
  }
  